attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
cfgrib==0.9.15.1
charset-normalizer==3.4.7
click==8.3.1
eccodes==2.46.0
eccodeslib==2.46.2.19
eckitlib==2.0.7.19
findlibs==0.1.2
idna==3.11
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.33.1
six==1.17.0
urllib3==2.6.3
xarray==2026.2.0
